In [2]:
import pandas as pd

# Area dataset analysis

In [11]:
df_area = pd.read_csv('raw_data/area_raw_data.csv')

In [12]:
df_area.Área.value_counts()

Operações     1713
Comercial     1590
Logística      919
Financeiro      92
Pessoas         80
Name: Área, dtype: int64

In [21]:
df_area.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4394 entries, 0 to 4393
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   CPF     4394 non-null   object
 1   Área    4394 non-null   object
dtypes: object(2)
memory usage: 68.8+ KB

# Performance dataset analysis

In [3]:
df_per = pd.read_csv('raw_data/performance_raw_data.csv')

In [4]:
df_per.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2382 entries, 0 to 2381
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   CPF                  2382 non-null   object
 1   Performance 1º/2019  1547 non-null   float64
 2   Performance 2º/2018  1577 non-null   float64
 3   Performance 1º/2018  988 non-null    float64
 4   Performance 2º 2017  353 non-null    float64
dtypes: float64(4), object(1)
memory usage: 93.2+ KB

In [5]:
df_per.describe()

,Performance 1º/2019,Performance 2º/2018,Performance 1º/2018,Performance 2º 2017
count,1547.000000,1577.000000,988.000000,353.000000
mean,1.997414,1.984781,1.998988,1.662890
std,0.490524,0.560793,0.823292,0.830669
min,1.000000,1.000000,1.000000,1.000000
25%,2.000000,2.000000,1.000000,1.000000
50%,2.000000,2.000000,2.000000,1.000000
75%,2.000000,2.000000,3.000000,2.000000
max,3.000000,3.000000,3.000000,3.000000

# Psyc Test dataset analysis

In [22]:
df_psy = pd.read_csv('raw_data/test_raw_data.csv')

In [23]:
df_psy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4281 entries, 0 to 4280
Data columns (total 58 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Nome                                 4281 non-null   object
 1   Sobrenome                            4281 non-null   object
 2   E-mail                               4281 non-null   object
 3   CPF                                  4281 non-null   object
 4   Match                                0 non-null      float64
 5   Potencial Bruto                      928 non-null    float64
 6   Raciocínio                           3234 non-null   float64
 7   Social                               981 non-null    float64
 8   Motivacional                         956 non-null    float64
 9   Cultura pontuação                    3311 non-null   float64
 10  Cultura classificação                3311 non-null   object
 11  atributo-Capacidade analítica        921 non-null    float64
 12  atributo-Pensamento conceitual       921 non-null    float64
 13  atributo-Reflexão                    921 non-null    float64
 14  atributo-Pensamento criativo         921 non-null    float64
 15  atributo-Planejamento e organização  921 non-null    float64
 16  atributo-Comunicação                 921 non-null    float64
 17  atributo-Consideração pelos outros   921 non-null    float64
 18  atributo-Influência                  921 non-null    float64
 19  atributo-Sociabilidade               921 non-null    float64
 20  atributo-Facilitação                 921 non-null    float64
 21  atributo-Flexibilidade               921 non-null    float64
 22  atributo-Estabilidade emocional      921 non-null    float64
 23  atributo-Ambição                     921 non-null    float64
 24  atributo-Iniciativa                  921 non-null    float64
 25  atributo-Assertividade               921 non-null    float64
 26  atributo-Tomada de riscos            921 non-null    float64
 27  perfil-Capacidade analítica          1019 non-null   float64
 28  perfil-Pensamento conceitual         1019 non-null   float64
 29  perfil-Reflexão                      1019 non-null   float64
 30  perfil-Pensamento criativo           1019 non-null   float64
 31  perfil-Planejamento e organização    1019 non-null   float64
 32  perfil-Comunicação                   1019 non-null   float64
 33  perfil-Consideração pelos outros     1019 non-null   float64
 34  perfil-Influência                    1019 non-null   float64
 35  perfil-Sociabilidade                 1019 non-null   float64
 36  perfil-Facilitação                   1019 non-null   float64
 37  perfil-Flexibilidade                 1019 non-null   float64
 38  perfil-Estabilidade emocional        1019 non-null   float64
 39  perfil-Ambição                       1019 non-null   float64
 40  perfil-Iniciativa                    1019 non-null   float64
 41  perfil-Assertividade                 1019 non-null   float64
 42  perfil-Tomada de riscos              1019 non-null   float64
 43  URL Raciocínio                       4281 non-null   object
 44  URL Cultura                          4281 non-null   object
 45  URL Social                           4281 non-null   object
 46  URL Motivacional                     4281 non-null   object
 47  URL Perfil                           4281 non-null   object
 48  Início - Raciocínio                  3508 non-null   object
 49  Fim - Raciocínio                     3221 non-null   object
 50  Início - Cultura                     3337 non-null   object
 51  Fim - Cultura                        3297 non-null   object
 52  Início - Social                      998 non-null    object
 53  Fim - Social                         981 non-null    object
 54  Início - Motivacional                967 non-null    object
 55  Fim - Motivacional                   956 non-null    object
 56  Início - Perfil                      1027 non-null   object
 57  Fim - Perfil                         1019 non-null   object
dtypes: float64(38), object(20)
memory usage: 1.9+ MB

Keep just the CPFs that exist in the 3 datasets