In [12]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df_raw= pd.read_csv('raw_data/test_raw_data.csv')

In [4]:
df_raw.head()

,Nome,Sobrenome,E-mail,CPF,Match,Potencial Bruto,Raciocínio,Social,Motivacional,Cultura pontuação,...,Início - Raciocínio,Fim - Raciocínio,Início - Cultura,Fim - Cultura,Início - Social,Fim - Social,Início - Motivacional,Fim - Motivacional,Início - Perfil,Fim - Perfil
0,Heloísa,Duartche,heloisaduarte7623@example.com,582.975.481-98,NaN,15.02,10.89,8.50,30.78,61.62,...,2019-08-21 16:35:33.827601+00:00,2019-09-02 18:47:40.230133+00:00,2018-06-12 13:50:12.544201+00:00,2019-09-02 18:45:58.610119+00:00,2019-08-21 16:36:46.205308+00:00,2019-09-02 18:47:52.188799+00:00,2017-10-02 21:37:08.829909+00:00,2017-10-02 21:37:55.440674+00:00,2019-09-02 18:48:52.221133+00:00,2019-09-02 18:49:55.512234+00:00
1,Sophia,Lima,sophialima1036@example.com,618.492.035-98,NaN,41.18,27.31,31.07,77.53,71.92,...,2017-03-11 00:47:44.258948+00:00,2017-03-11 01:36:09.837171+00:00,2017-03-11 04:39:17.036294+00:00,2017-03-11 04:44:18.962437+00:00,2017-03-11 05:08:18.867391+00:00,2017-03-11 05:22:52.602643+00:00,2017-03-11 04:55:58.406306+00:00,2017-03-11 05:06:41.817962+00:00,2017-03-11 04:46:18.698012+00:00,2017-03-11 04:52:43.434487+00:00
2,Cauã,Alves,cauaalves8382@example.com,376.104.598-11,NaN,56.78,71.39,47.53,46.36,49.10,...,2017-04-09 11:48:22.486594+00:00,2017-04-09 12:35:40.925275+00:00,2017-04-09 12:38:23.387423+00:00,2017-04-09 12:43:47.091106+00:00,2017-04-09 13:05:14.795158+00:00,2017-04-09 13:14:37.327611+00:00,2017-04-09 12:53:30.554098+00:00,2017-04-09 13:05:01.111152+00:00,2017-04-09 12:44:57.652249+00:00,2017-04-09 12:52:19.887744+00:00
3,Daniel,Costela,danielcostela2294@example.com,056.378.194-75,NaN,NaN,63.01,NaN,NaN,22.87,...,2016-05-18 21:18:04.261501+00:00,2016-05-18 22:28:54.132025+00:00,2016-05-18 22:52:06.038503+00:00,2016-05-18 22:57:58.911020+00:00,NaN,NaN,NaN,NaN,NaN,NaN
4,Maria Julia,Caldeira,maria-juliacaldeira1072@example.com,235.406.789-56,NaN,50.96,79.87,21.19,46.36,41.31,...,2016-09-12 01:22:45.706329+00:00,2016-09-12 02:24:49.906533+00:00,2016-09-12 02:25:19.996132+00:00,2016-09-12 02:30:27.135027+00:00,2016-09-27 21:29:39.650033+00:00,2016-10-01 15:21:30.723428+00:00,2016-09-26 01:52:37.631780+00:00,2016-09-26 02:08:20.131566+00:00,2016-09-26 02:10:02.246086+00:00,2016-09-26 02:17:52.166309+00:00

In [21]:
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4281 entries, 0 to 4280
Data columns (total 49 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   CPF                                  4281 non-null   object
 1   Potencial Bruto                      928 non-null    float64
 2   Raciocínio                           3234 non-null   float64
 3   Social                               981 non-null    float64
 4   Motivacional                         956 non-null    float64
 5   Cultura pontuação                    3311 non-null   float64
 6   Cultura classificação                3311 non-null   object
 7   atributo-Capacidade analítica        921 non-null    float64
 8   atributo-Pensamento conceitual       921 non-null    float64
 9   atributo-Reflexão                    921 non-null    float64
 10  atributo-Pensamento criativo         921 non-null    float64
 11  atributo-Planejamento e organização  921 non-null    float64
 12  atributo-Comunicação                 921 non-null    float64
 13  atributo-Consideração pelos outros   921 non-null    float64
 14  atributo-Influência                  921 non-null    float64
 15  atributo-Sociabilidade               921 non-null    float64
 16  atributo-Facilitação                 921 non-null    float64
 17  atributo-Flexibilidade               921 non-null    float64
 18  atributo-Estabilidade emocional      921 non-null    float64
 19  atributo-Ambição                     921 non-null    float64
 20  atributo-Iniciativa                  921 non-null    float64
 21  atributo-Assertividade               921 non-null    float64
 22  atributo-Tomada de riscos            921 non-null    float64
 23  perfil-Capacidade analítica          1019 non-null   float64
 24  perfil-Pensamento conceitual         1019 non-null   float64
 25  perfil-Reflexão                      1019 non-null   float64
 26  perfil-Pensamento criativo           1019 non-null   float64
 27  perfil-Planejamento e organização    1019 non-null   float64
 28  perfil-Comunicação                   1019 non-null   float64
 29  perfil-Consideração pelos outros     1019 non-null   float64
 30  perfil-Influência                    1019 non-null   float64
 31  perfil-Sociabilidade                 1019 non-null   float64
 32  perfil-Facilitação                   1019 non-null   float64
 33  perfil-Flexibilidade                 1019 non-null   float64
 34  perfil-Estabilidade emocional        1019 non-null   float64
 35  perfil-Ambição                       1019 non-null   float64
 36  perfil-Iniciativa                    1019 non-null   float64
 37  perfil-Assertividade                 1019 non-null   float64
 38  perfil-Tomada de riscos              1019 non-null   float64
 39  Início - Raciocínio                  3508 non-null   object
 40  Fim - Raciocínio                     3221 non-null   object
 41  Início - Cultura                     3337 non-null   object
 42  Fim - Cultura                        3297 non-null   object
 43  Início - Social                      998 non-null    object
 44  Fim - Social                         981 non-null    object
 45  Início - Motivacional                967 non-null    object
 46  Fim - Motivacional                   956 non-null    object
 47  Início - Perfil                      1027 non-null   object
 48  Fim - Perfil                         1019 non-null   object
dtypes: float64(37), object(12)
memory usage: 1.6+ MB

There are 5 tests:

Raciocínio, Cultura, Social, Motivacional, Perfil

## Drop columns not used now

In [5]:
#Clean url information
url_labels = ["URL Raciocínio","URL Cultura","URL Social","URL Motivacional","URL Perfil"]
df_raw = df_raw.drop(url_labels, axis=1)
#Clean information not useful now
not_useful_labels = ["Nome",'Sobrenome','E-mail','Match']
df_raw = df_raw.drop(not_useful_labels, axis=1)

As a first approach, I will not use the time took to do the the test as a feature for analysis. Maybe it does not makes sense anyway

In [6]:
not_useful_for_now_labels = ['Início - Perfil','Fim - Perfil','Início - Motivacional','Fim - Motivacional','Início - Social','Fim - Social',"Início - Raciocínio",'Fim - Raciocínio','Início - Cultura','Fim - Cultura']
df_raw = df_raw.drop(not_useful_for_now_labels, axis=1)

In [26]:
#Drop Cultura classificação
df_raw = df_raw.drop(['Cultura classificação'], axis=1)

In [28]:
df_features = df_raw
df_features.to_csv("processed_data/test_data.csv")

All the quantitative metrics are between [0,100] interval

DO: Understand if information in "Cultura classificação" and "Cultura pontuação" are redundant
NEED TO UNDESTAND: 

- how the "potencial bruto" is calculated. If it is a mean of the other variables it could be redundant.
- What is the difference between the "atributo" and the "perfil" categories?

NEED TO KNOW: In performance, what is the best, 1 or 3?

DO: I will not use the CPF in the model training, however, I need it to connect the area and performance datasets.

After I finished it doing it, I will not need it anymore. However, after the prediction, I should have a way of finding for each CPF, if it is OK in its function or if it could be better to transferr it to other area.

What will be the prediction? The performance OR/AND the area the person should be?

### Possibilities:

1 - Classify what are the best profiles for each area: (X=atributos+performance(com grande peso),y=area)

2- Cluster the profiles of JUST the best performances for each area(Xspace =BEST)

3 - Create a model that given the person metrics (pysc test), gives as output the probability that the person has to be good in each area.
This probability will be measured as the distance of this person to the cluster of the best profiles of each area.

So, I want a model that uses tha bad, medium and best profiles of each area to create a model that predicts the performance for each area.

Should I use a classification for EACH area?

check if the performance can be related to a weighting in each data (row) importance for creating what is the "best" of this area

- the data is inbalanced in relation to each area:

Operações:     1713
Comercial:    1590
Logística:      919
Financeiro:      92
Pessoas:         80


it makes sense to use a 1.Try Resampling Your Dataset or 2.Try Generate Synthetic Samples to make the data more balanced?

https://www.kaggle.com/code/jacksonchou/hr-analytics

Use more than one model and parameters and test the different results

use performance in different semesters as independent information? or use as a mean?

plot the variation in performance in the cases that have more than 1 semester

https://towardsdatascience.com/a-practical-guide-to-apply-people-analytics-f0d08bc231cc

https://towardsdatascience.com/tagged/people-analytics